.Container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelOnTop {
  margin-top: 1rem;
}

.labelText {
  color: var(--primary-text-color);
  text-transform: capitalize;
  font-family: var(--ff-primary-reg);
  font-size: var(--fs-base);
  margin-bottom: 4px;
  margin-inline-start: 8px;
}

.onTopLabel {
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);
  line-height: 1;
  padding-inline: 8px;
  top: -8px;
  margin-inline-start: 1.5rem;
  color: var(--primary-color);
}

.inputBox {
  font-family: var(--ff-primary-reg);
  font-size: var(--fs-base);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  width: 100%;
  border: 1px solid var(--border-color);
}

.inputBox:focus-within {
  outline: none !important;
}

.inputBox:disabled {
  cursor: not-allowed;
}

.noBorder {
  border: none;
}

.inputPassContainer {
  display: flex;
  position: relative;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.inputPassContainer input::placeholder {
  color: var(--nav-link-color);
  font-family: var(--ff-primary-semibold);
  font-size: var(--fs-base);
}

.inputPassContainer input:disabled {
  background-color: var(--disabled-input-color);
  color: #c9c9c9;
  user-select: none;
}

.inputPassContainer .passwordIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  color: #cacaca;
}

.errorText {
  color: red;
}

.disabled {
  color: var(--disabled-label-color);
}

.leftIconBox {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
  line-height: 1;
}

.rightIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  Firefox  */
.inputBox[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 578px) {
  .labelText {
    font-size: var(--fs-base);
  }
}
