.mainWrapper {
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    & > span {
      font-size: 18px;
      color: var(--main-color);
    }
  }
  & > p:not(:last-child) {
    padding-block-end: 10px;
    border-bottom: 1px solid var(--border-color);
  }
}
