.mainWrapper {
  padding: 10px 20px;
  background: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--light-text-color);
    margin-block-end: 0;
    & > span {
      color: var(--main-color);
      cursor: pointer;
    }
  }
  & > p {
    font-size: 10px;
    font-weight: 600;
  }
}
.imageNameWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconWrapper {
  border-radius: 10px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.rolePlatform {
  display: flex;
  flex-direction: column;
  gap: 2px;
  & > h4 {
    font-size: 14px;
    font-weight: 500;
    margin-block-end: 0;
  }
  & > p {
    font-size: 12px;
    font-weight: 500;
  }
}
.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-block-start: 15px;
  & > button {
    flex: 1;
  }
}
