.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }
}
.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rightWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.headingWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > h4 {
    font-size: 22px;
    font-weight: 600;
    margin-block-end: 0;
    & > span {
      color: var(--main-color);
    }
  }
}
.similarJobsTabs {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: auto;
}
.similarJobsTabs {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block-end: 20px;
  border-bottom: 1px solid var(--border-color);
  & > p {
    font-size: 14px;
    font-weight: 500;
  }
}
.similarJobsTabsBtns {
  display: flex;
  gap: 12px;
}
.cardsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 20px;
  border-bottom: 1px solid var(--border-color);
  & > h4 {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    & > a {
      font-size: 14px;
      font-weight: 500;
      color: var(--main-color);
    }
  }
  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 1rem;
  }
}
