.userProfileWrapper {
  border-radius: 10px;
  background: var(--white-color);
  overflow: hidden;
}
.coverImg {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-block-end: -43px;
}
.userDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-block-end: 20px;
}
.profileImg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}
.userAbout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  & > h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-block-end: 0;
    max-width: 160px;
  }
  & > p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    max-width: 240px;
  }
  & > span {
    font-size: 12px;
    font-weight: 500;
    color: var(--light-text-color);
  }
}
