.mainWrapper :global(.accordion) {
  background-color: var(--white-color) !important;
  border-radius: 10px !important;
}
.mainWrapper :global(.accordion-button.collapsed) {
  border-radius: 10px !important;
}
.mainWrapper :global(.accordion-button:not(.collapsed)) {
  background-color: var(--white-color) !important;
  box-shadow: unset !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.mainWrapper :global(.accordion-button:focus) {
  box-shadow: unset !important;
}
.headerContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    margin-block-end: 0;
  }
  & > p {
    font-size: 14px;
    font-weight: 500;
    color: var(--nav-link-color);
  }
}
.bodydata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  & > span {
    font-size: 14px;
    font-weight: 500;
    color: var(--nav-link-color);
  }
}
